{% extends "photologue/root.html" %}
{% load i18n %}

<style>
      {% block style %}
      {{ block.super}}

      .calosc{
        width: 90%;
        margin-left: 5%;
      }

      .col-md-10 img{
        display: inline;
        margin-left: 5px;
      }

      h2 a:hover{
        color:white;
      }
      
      aside{
        margin-top: -1%;
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
      .page-header{
        font-size: 26px;
      }
      }


      {% endblock %}
</style>

{% block content %}
<div class="calosc">
    <div class="row col-lg-12">
        <h1 class="page-header" style="color:white">{% blocktrans with show_month=month|date:"F Y" %}Galerie dla {{ show_month }}{% endblocktrans %}</h1>
    </div>

    <div class="row">

        <aside class="col-md-2">

            <h4 style="color:white">{% trans "Filtruj według dnia" %}</h4>
            <ul>
            {% for date in date_list %}
                <li><a href="{% url 'gallery-archive-day' date.year date|date:"m"|lower date.day %}"><span style="font-weight:bold">{{ date|date:"d" }}</span></a></li>
            {% endfor %}
            </ul>

        </aside>

        <main class="col-md-10">

            {% if object_list %}
                {% for gallery in object_list %}
                    {% include "photologue/includes/gallery_sample.html" %}<br><br>
                {% endfor %}
            {% else %}
                <p>{% trans "No galleries were found." %}</p>
            {% endif %}

            <div><a href="{% url 'photologue:pl-gallery-archive-year' month.year %}" class="btn btn-default">{% trans "Pokaż wszystkie galerie dla tego roku" %}</a></div><br><br>

        </main>

    </div>
</div>
{% endblock %}
