{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="Damian Szczesniak" content="Photo Site">
    <link rel="icon" href="../../favicon.ico">
    <title>PhotoProject</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">

    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">



    <style>
      {% block style %}

        img {
        	position: fixed;
        	margin-left: 22%;
        	margin-top: 1%;
      }

      	.nav.masthead-nav{
      		font-size: 53px;
      	}
   

      {% endblock %}
    </style>

  </head>


  <body id="page">
{% block home %}

	<ul class="cb-slideshow">
            <li><span></span><div><h3>Profeslonalizm</h3></div></li>
            <li><span></span><div><h3>Swoboda</h3></div></li>
            <li><span></span><div><h3>Perfekcja</h3></div></li>
            <li><span></span><div><h3>Komfort</h3></div></li>
            <li><span></span><div><h3>Zadowolenie</h3></div></li>
            <li><span></span><div><h3>Optymizm</h3></div></li>
        </ul>
    

{% endblock %}

  	<div class="site-wrapper">
		<a href="/"><h3 class="masthead-brand"><img class="logo-home"src= {% static "img/LOGOhome.png" %} alt="logo"></h3> </a>
      	<div class="site-wrapper-inner">
	        <div class="cover-container">
	          <div class="masthead clearfix">
	            <div class="inner">
	              <nav>
	                <ul class="nav masthead-nav">
	                  <li class="zero"><a  style="color:white" href="/about_me">O mnie</a></li>
	                  <li><a  style="color:white" href="/contact">Kontakt</a></li>
	                  <li><a  style="color:white" href="/photologue/gallery/">Fotografia</a></li>
	                </ul>
	              </nav>
	            </div>
	          </div>
	        </div>

      </div>
   </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.86080.js' %}"></script>


  </body>
</html>