{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
       {% block style %}
      	{{ super.block }}

       body{
       	background-image: url("{% static "img/drop.jpg" %}");
       	background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100%;
        width: 98%;
       }


      img.mail_ikon{
      	position: fixed;
      	margin-left: 420px;
      	margin-top: -120px;
      }

       img.pytajnik{
      	position: fixed;
      	margin-left: -470px;
      	margin-top: -580px;
      }

       img.mail{
      	position: fixed;
      	margin-left: 355px;
      	margin-top: -210px;
      }


      .dropdown:hover .dropdown-menu{
        	display: block;
      }

      .jumbotron{
      	border-radius: 10px;
      	text-align: center;
      	width: 60%;
      	margin: auto;
      	margin-top: 3%;
      }

      .forma{
      	width:auto;
      	margin: auto;
      }

      .logo{
        	margin-top: -9px;
        }

      .naaav{
          font-size: 20px;
        }

      .dropdown{
          font-size: 20px;
        }

      .active{
        font-size: 20px;
      }


       @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
      .jumbotron{
      border-radius: 10px;
      text-align: center;
      width: auto;
      margin: auto;
      margin-top: 3%;
      margin-left: 2%;
      }

      }


      {% endblock %}
    </style>

{% block nav %}
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="logo" src= {% static "img/LOGOmain.png" %} alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="naaav"><a href="/o_mnie">O mnie</a></li>
            <li class="active"><a href="/kontakt">Kontakt</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotografia<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/photologue/gallery/">Najnowsze galerie</a></li>
                <li><a href="/photologue/photolist/">Wszystkie zdjęcia</a></li>
                <li><a href="/sesje_ciazowe/">Sesje ciążowe</a></li>
                <li><a href="/sesje_rodzinne/">Sesje rodzinne</a></li>
                <li><a href="/sesje_noworodkowe/">Sesje noworodkowe</a></li>
                <li><a href="/sesje_okazjonalne/">Sesje okazjonalne</a></li>
                <li><a href="/projekt_360/"><b>Mój projekt 365</b></a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}


{% block cont %}
<div class="container">
<div class="row">
<div class="col-md-12">
    <div class="jumbotron">
    	
					  <form method="POST" action=''>
					  {% csrf_token %}
					    <h3><b>Masz pytania?</b><br><img class="mail_ikon" src= {% static "img/mail1.png" %} alt="logo">
					    	Chcesz się umówić na sesję?</h3><br>
					    	<h4><b>Skontaktuj się ze mną.</b><br><br>
					    	tel. 606 819 890<br>
					    	e-mail: celina.krzyzkowska@gmail.com<br><br>
					    	<b> lub po prostu wypełnij poniższy formularz kontaktowy:</b></h4><hr>
					  <div class="forma">
						  {{ form|crispy }}
						  <input type="submit" class="btn btn-lg btn-primary btn-block"  value="Wyślij" />
					  </div>
					  <img class="pytajnik" src= {% static "img/pytajnik.png" %} alt="pytajnik">
					  <img class="mail" src= {% static "img/mail.png" %} alt="mail">

					  </form><br>
					  {% if messages %}
            			{% for message in messages %}
                			<p>{{ message }}</p>
            			{% endfor %}
        			{% endif %}
		
	</div>
	</div>
	</div>
	</div>
	<br>
{% endblock %}